<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dep1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>dep2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ios-libparent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ios-parent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>iosdep1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libparent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>swift_on_swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E7F875F1D61D37E00F1FFB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E7F877A1D61D76900F1FFB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E7F878D1D62148B00F1FFB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB091731D63029100BFD61F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB0917F1D6302C000BFD61F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB0919C1D63043E00BFD61F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EBA90241D5E032C0028A96B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EBA90321D5E033B0028A96B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EBA90441D5E040A0028A96B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
