<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E66DC04E0E6F340F00000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66DC04E55EB37A900000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66DC04E778347A600000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66DC04E9C47228100000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
